.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-around;
  z-index: 1000;
  box-shadow: 0px 4px 4px 0px $dark;
  background-color: $blue100;
  width: 100%;
  color: $white;
  user-select: none;

  .wrapper {
    display: flex;
    width: 100%;
    max-width: 1316px;
  }

  .link {
    display: block;
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
    padding: 23px;
    color: rgba($white, 0.7);

    &:hover:not(.active) {
      background-color: rgba($blue, 0.5);
      color: rgba($white, 0.9);
    }
  }

  .active {
    background-color: $blue;
    color: $white;
  }
}
